<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 등록하기</title>
</head>
<body>

    <h1>책 등록</h1>
    <br>

    <form action="/book/add" method="POST" name="bookAddForm" id="bookAddForm">

        제목 : <input type="text" id="bookTitle"><br>
        글쓴이 : <input type="text" id="bookWriter"><br>
        가격 : <input type="number" id="bookPrice"> <br>

        <button id="addBtn">등록하기</button>

    </form>

    

    <script src="/js/book/add.js"></script>
</body>
</html>